<h4>Post details</h4>
<p>
    <br>
    <%= @row['content']%>
    <br>
    added: <%= @row['created_date']%>
    <br>
</p>
<hr>
<h4>Comments</h4>
<br>
<% @comments.each do |comment|%>
    <p>
        <br>
        <%= comment['content']%>, <%= comment['created_date']%>
        <br>
    </p>
<%end%>
<br>
<form action="/post/<%= @row['id']%>" method="POST">
    <div class="form-group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder ="comment text there"  name="com"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">add comment</button>
</form>
